<h1>Доступные объекты</h1>
<ul class="gallery">
  <% @objects.each do |object| %>
    <li>
	    <div class="sep1"></div>
      <%= link_to image_tag(object.photo.thumbnail('150x100').url), refinery.objects_object_path(object), :class => 'thumb' %>
	  <span><%= object.title %></span>
    </li>
  <% end %>
</ul>
<%= content_for :right_block do %>
<h2>Подпишитесь на рассылку обновлений</h2>
	<%= form_tag('/subscribe') do -%>
    <%= text_field_tag('name', nil, :placeholder => t('enter_name'), :size => 30) %>
		<%= text_field_tag('email', nil, :placeholder => t('enter_email'), :size => 50) %>
		<%= submit_tag t('submit_email') %>
	<% end %>
<% end %>
