<%= content_for :before_javascript_libraries do %>
	<%= javascript_include_tag('http://api-maps.yandex.ru/2.0/?load=package.full&lang=ru-RU') %>
<% end %>
<%= javascript_tag do %>
ymaps.ready(init); function init() { ymaps.geocode("<%= @object.address %>", { results: 1 }).then(function (res) { var objPlace = res.geoObjects.get(0); var myMap = new ymaps.Map("map", { center: objPlace.geometry.getCoordinates(), zoom: 15 }); var placeMark = new ymaps.Placemark(objPlace.geometry.getCoordinates()); myMap.geoObjects.add(placeMark); }); } 
$(document).ready(function() {	
	$("a.image_link").fancybox({
		'transitionIn'	:	'fade',
		'transitionOut'	:	'none',
		'speedIn'		:	300, 
		'speedOut'		:	200, 
		'overlayShow'	:	true,
		'hideOnContentClick' : true,
		
	});
});
<% end %>
<div class="object_left">
	<h1>
		<%= @object.title %>
	</h1>
	<dl>
	<dd>
		<div class="object_wrapper">
			<dl>
				<% if @object.distance.present? %>
				<dt class="object">
					<%= t('objects.distance')%>
				</dt>
				<dd class="object">
					<%= raw @object.distance %>
				</dd>
				<% end %>
				<% if @object.plan.present? %>
				<dt class="object">
					<%= t('objects.plan')%>
				</dt>
				<dd class="object">
					<%= raw @object.plan %>
				</dd>
				<% end %>
				<% if @object.space.present? %>
				<dt class="object">
					<%= t('objects.space')%>
				</dt>
				<dd class="object">
					<%= raw @object.space %>
				</dd>
				<% end %>
				<% if @object.floor.present? %>
				<dt class="object">
					<%= t('objects.floor')%>
				</dt>
				<dd class="object">
					<%= raw @object.floor %>
				</dd>
				<% end %>
				<% if @object.parking %>
				<dt class="object">
					<%= t('objects.parking')%>
				</dt>
				<dd class="object">
					<%= number_to_currency(@object.parkingcost, :format => '%n', :precision => 0) %> (без НДС)
				</dd>
				<% end %>
			</dl>
		</div>
	</dd>
	<% if @object.description.present? %>
	<div class="deux">
		<h1>
			Описание:
		</h1>
		<%= raw @object.description %>
	</div>
	<% end %>
</div>
<div class="object_right">
	<h1>
		Стоимость аренды
	</h1>
	<div class="rentcost">
		<span><%= number_to_currency(@object.rentcost, :format => '%n', :precision => 0) %></span> руб. за кв.м. в год (включая НДС)
	</div>
	<h1>
		Месторасположение
	</h1>
	<div id="map"></div>
	<h1>
		Фотографии
	</h1>
	<p>
		<%= link_to image_fu(@object.photo, '300x300'), @object.photo.thumbnail("900x600").url, :class => 'image_link' %>
	</p>
	<ul id='gallery'>
		<% @object.images.each do |i| %>
		<li>
			<%= link_to image_tag(i.thumbnail("300x300#c").url), i.thumbnail("900x600").url, :class => 'image_link' %>
		</li><% end %>
	</ul>
</div>