<%= content_for :before_javascript_libraries do %>
	<%= javascript_include_tag("http://maps.googleapis.com/maps/api/js?key=AIzaSyAUowQX3jpTvPs9Nit0I9sDwlOlSLnstIU&sensor=false") %>
<% end %>
<%= javascript_tag do %>
$(document).ready(function() {	
	$("a.image_link").fancybox({
		'transitionIn'	:	'fade',
		'transitionOut'	:	'none',
		'speedIn'		:	300, 
		'speedOut'		:	200, 
		'overlayShow'	:	true,
		'hideOnContentClick' : true,
		
	});
});
$(document).ready(function() {
	var mapOptions = {
	    center: new google.maps.LatLng(<%= @object.location %>),
	    zoom: 16,
	    minZoom: 13,
	    maxZoom: 17,
	    panControl: false,
	    streetViewControl: false,
	    mapTypeControl: false,
	    mapTypeId: google.maps.MapTypeId.ROADMAP
	};
	var objectOptions = {
	    animation: google.maps.Animation.DROP,
	    position: new google.maps.LatLng(<%= @object.location %>),
	}
	var map = new google.maps.Map(document.getElementById("map"),mapOptions);
	var object = new google.maps.Marker(objectOptions).setMap(map);
	var overviewOptions = {
  		position: object,
  		pov: {
    		heading: 0,
    		pitch: 0,
    		zoom: 1
  		}
	};
});
<% end %>
<div class="object_left">
	<h1>
		<%= @object.title %>
	</h1>
	<div class="object_wrapper">
		<dl>
			<div>
				<dt class="object">
					<%= t('objects.address') %>
				</dt>
				<dd class="object">
					<%= raw @object.address %>
				</dd>
			</div>
			<% if @object.distance.present? %>
			<div>
				<dt class="object">
					<%= t('objects.distance')%>
				</dt>
				<dd class="object">
					<%= raw @object.distance %>
				</dd>
			</div>
			<% end %>
			<% if @object.plan.present? %>
			<div>
				<dt class="object">
					<%= t('objects.plan')%>
				</dt>
				<dd class="object">
					<%= raw @object.plan %>
				</dd>
			</div>
			<% end %>
			<% if @object.space.present? %>
			<div>
				<dt class="object">
					<%= t('objects.space')%>
				</dt>
				<dd class="object">
					<%= raw @object.space %> кв. м.
				</dd>
			</div>
			<% end %>
			<% if @object.floor.present? %>
			<div>
				<dt class="object">
					<%= t('objects.floor')%>
				</dt>
				<dd class="object">
					<%= raw @object.floor %>
				</dd>
			</div>
			<% end %>
			<% if @object.parkingcost.present? %>
			<div>
				<dt class="object">
					<%= t('objects.parking')%>
				</dt>
				<dd class="object">
					<%= number_to_currency(@object.parkingcost, :format => '%n', :precision => 0) %> р. в месяц (без НДС)
				</dd>
			</div>
			<% end %>
		</dl>
	</div>
	<% if @object.description.present? %>
	<div class="deux">
		<h1>
			Описание:
		</h1>
		<%= raw @object.description %>
	</div>
	<% end %>
<div class="deux">
<script type="text/javascript"> _shcp = []; _shcp.push({widget_id : 557680, widget : "Chat"}); (function() { var hcc = document.createElement("script"); hcc.type = "text/javascript"; hcc.async = true; hcc.src = ("https:" == document.location.protocol ? "https" : "http")+"://widget.siteheart.com/apps/js/sh.js"; var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(hcc, s.nextSibling); })();</script>
</div>
</div>
<div class="object_right">
	<h1>
		Стоимость аренды
	</h1>
	<div class="rentcost">
		<span><%= number_to_currency(@object.rentcost, :format => '%n', :precision => 0) %></span> руб. за кв.м. в год (включая НДС)
	</div>
	<h1>
		Месторасположение
	</h1>
	<div id="map"></div>
	<h1>
		Фотографии
	</h1>
	<p>
		<%= link_to image_fu(@object.photo, '300x300'), @object.photo.thumbnail("900x600").url, :class => 'image_link' %>
	</p>
	<ul id='gallery'>
		<% @object.images.each do |i| %>
		<li>
			<%= link_to image_tag(i.thumbnail("300x300#c").url), i.thumbnail("900x600").url, :class => 'image_link' %>
		</li><% end %>
	</ul>
</div>
